#doom-carousel {
	width: 500px;
	overflow: hidden;
}

#doom-carousel a {
	outline: none;
}

.doom-carousel-cnt {
	overflow: hidden;
	width: 500px;
	height: 300px;
}

.doom-carousel-left-btn {
	display:block;
	height:300px;
	position:absolute;
	width:100px;
	opacity: 0;
	background: url(left_arrow.png) left center no-repeat;
}

.doom-carousel-right-btn {
	display:block;
	height:300px;
	position:absolute;
	width:100px;
	top:65px;
	left:408px;
	text-align: right;
	opacity: 0;
	background: url(right_arrow.png) right center no-repeat;
}

.doom-carousel-left-btn:hover, .doom-carousel-right-btn:hover {
	opacity: 1;
}

.doom-carousel-left-btn span, .doom-carousel-right-btn span {
	display:none;
}

.doom-carousel-list {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.doom-carousel-list li {
	display: block;
	float: left;
	width: 500px;
	height: 300px;
	overflow: hidden;
}

.doom-carousel-pic {
	border:none;
	float: left;
}

.doom-pic-title {
	float:left;
	height:50px;
	position:relative;
	top:-50px;
	width:500px;
	background: #111;
	opacity:0.8;
	color:red;
}
